[webservers]
%{ for index, addr in ipsWeb ~}
%{for ip in csv ~}
%{if ip.ip == addr ~} 
web${index} ansible_host=${ipPub} ansible_port=${ip.port} ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_sudo_pass=${sudo_pass}
%{ endif ~}
%{endfor ~}
%{ endfor ~}

[lbservers]


%{ for index, addr in ipsLb ~}
%{for ip in csv ~}
%{if ip.ip == addr ~} 
lb${index} ansible_host=${ipPub} ansible_port=${ip.port} ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_sudo_pass=${sudo_pass}
%{ endif ~}
%{endfor ~}
%{ endfor ~}
